<div class="tab">
  <h4>产品</h4>
  <ul>
    <li><%= link_to '全部产品', products_path %></li>
    <% if @current_user.present? %>
      <li><%= link_to '发布产品', new_product_path%></li>
    <% end -%>
  </ul>
</div>