<div class="tab">
  <h4>产品</h4>
  <ul>
    <li><%= link_to '全部产品', products_path %></li>
    <% if @current_user.present? %>
      <li><%= link_to '发布产品', new_product_path%></li>
    <% end -%>
  </ul>
</div>
<div class="clear"></div>
<% if params[:action] != 'index' %>
  <div style="text-align: right;"><%= link_to '返回', products_path %></div>
<% end -%>